body {
    background-color: #282828;
    color: #fff;
}

form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin: 200px;
    padding: 50px;
}

form fieldset p {
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    margin: 35px 35px 60px 35px;
}

form fieldset input {
    padding: 50px;
    margin-right: 25px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
}

form fieldset button {
    padding: 50px;
    border-radius: 10px;
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    background-color: #565656;
    cursor: pointer;
    transition: 0.5s;
}

form fieldset button:hover {
    background-color: #393939;
}

@media (max-width: 1030px) {
    form fieldset legend {
        width: 300px;
        margin: 35px 35px 60px 35px;
    }

    form fieldset button {
        margin-top: 20px;
        width: 320px;
    }
}

@media (max-width: 1030px) {
    form fieldset p {
        /* width: 300px; */
        margin: 0px 100px 100x 0px;
    }
}